<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicSchool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicSchool.WebUI.styles.css" asp-append-version="true" />
    <style>
        :root {
            --header-height: 4rem;
        }

        header {
            height: var(--header-height);
        }

        .nav-item {
            font-size: 2rem;
        }

            .nav-item a:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

            .nav-item .current {
                padding-left: 1em;
                border-left: solid;
                border-color: blue;
                border-width: 0.25em;
            }

        body {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            overflow: hidden;
        }

        nav.container.navbar-light {
            margin-left: 0;
            padding-left: 0;
        }

        main {
            overflow-y: hidden;
            padding-right: 4px;
        }
    </style>
</head>
<body>
    <header class="toast-header border-bottom">
        <nav class="container navbar-light">
            <div class="container d-flex align-items-center">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" style="font-size: 1.75rem" asp-controller="Home" asp-action="Index">MusicSchool</a>
            </div>
            <div class="container">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header border-bottom">
                        <h1 class="offcanvas-title" id="offcanvasNavbarLabel">Навигация</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active current" aria-current="page" asp-controller="Calendar" asp-action="Timesheet">Расписание</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
