@using MusicSchool.WebUI.Views.Enums;
@{
    ViewData["Title"] = "Расписание";
    IEnumerable<SelectListItem> week = Html.GetEnumSelectList<WeekDays>();
}

<style>
    .text-light.rounded-circle {
        font-size: 1.5em;
        width: 1.6em;
        height: 1.6em;
        margin: auto;
        vertical-align: central;
    }

    .timesheetDataHeader {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .timesheetHeader {
        display: grid;
        grid-template-columns: 1fr 18fr;
    }

    .timesheetHours {
        align-items: end;
        font-size: 2.1em;
        width: 1.7em;
        height: 1.7em;
        margin: auto;
        margin-bottom: 0;
        text-decoration: none;
        text-align: center;
    }

        .timesheetHours:hover {
            cursor: pointer;
        }

    .day {
        font-size: 1.2em;
    }
</style>

<div class="timesheetHeader">
    <a class="timesheetHours btn-primary rounded-circle">+</a>
    <div class="timesheetDataHeader">
        @{
            int today = (int)DateTime.Today.Day;
            int currentDayOfWeek = ((int)DateTime.Today.DayOfWeek);
            currentDayOfWeek = currentDayOfWeek == 0 ? 7 : currentDayOfWeek;
            int numOfDay = today - currentDayOfWeek + 1;
        }
        @foreach (var day in week)
        {
            <div class="text-center">
                @if (numOfDay >= today)
                {
                    <div class="day text-primary">@day.Text</div>
                    <div class="text-light rounded-circle bg-primary">@numOfDay</div>
                }
                else
                {
                    <div class="day text-secondary">@day.Text</div>
                    <div class="text-light rounded-circle bg-secondary">@numOfDay</div>
                }
            </div>
            numOfDay++;
        }
    </div>
</div>
